div#memory_board{
	background:#245569;
	border:#999 1px solid;
	width:800px;
	height:560px;
	
	margin:0px auto;
}
div#memory_board > div{
	background-image: url(siglaUBB.jpg);
	background-size: cover;
	border:#000 1px solid;
	width:71px;
	height:71px;
	float:left;
	margin:10px;
	padding:20px;
	font-size:64px;
	cursor:pointer;
	text-align:center;
}
